.buttons-menu {
  overflow-x: auto;
  flex-wrap: nowrap;

  &-container {
    padding-top: px-to-rem(68, $fs-desktop);
    padding-bottom: px-to-rem(68, $fs-desktop);
  }

  &.nav-tabs {
    border: none;
    .nav-item {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up('md') {
    justify-content: center;
    &-container {
      max-width: 720px;
    }
  }
  @include media-breakpoint-up('lg') {
    &-container {
      max-width: 960px;
    }
  }
  @include media-breakpoint-up('xl') {
    &-container {
      max-width: 1200px;
    }
  }
  &__item {
    padding-left: 1rem;
    padding-right: 0;

    &:last-child {
      padding-right: 1rem;
    }

    @include media-breakpoint-up('md') {
      flex: 0 0 20%;
      max-width: 20%;
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;

      &:last-child {
        padding-right: $grid-gutter-width / 2;
      }

      &--md_4 {
        flex: 0 0 100/3 * 1%;
        max-width: 100/3 * 1%;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: px-to-rem(43.5, $fs-mobile);
      padding: 0 1.5rem;
      width: px-to-rem(158, $fs-mobile);
      @include media-breakpoint-up('md') {
        width: 100%;
        height: px-to-rem(58, $fs-desktop);
        padding: 0 1rem;
      }
      @include media-breakpoint-up('lg') {
        padding: 0 0.5rem;
      }
      &.nav-link {
        @extend .btn;
        @extend .btn-outline-primary;

        &:focus,
        .active:focus {
          box-shadow: none !important;
        }
      }
    }
  }
}
