.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow--to_right {
	font-size:(15/10)*1rem;
	width:(9/15)*1em;
}
.icon-conversation {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-growth {
	font-size:(68/10)*1rem;
	width:(64/68)*1em;
}
.icon-idea {
	font-size:(74/10)*1rem;
	width:(72/74)*1em;
}
.icon-respect {
	font-size:(67/10)*1rem;
	width:(75/67)*1em;
}
.icon-star {
	font-size:(18/10)*1rem;
	width:(19/18)*1em;
}
