@include media-breakpoint-up('xl') {
  body {
    line-height: 1.5;
  }
  h1,
  .h1 {
    @include font-size($h1-font-size-desktop);
  }
  h2,
  .h2 {
    @include font-size($h2-font-size-desktop);
  }
  h3,
  .h3 {
    @include font-size($h3-font-size-desktop);
  }
  h4,
  .h4 {
    @include font-size($h4-font-size-desktop);
  }
  h5,
  .h5 {
    @include font-size($h5-font-size-desktop);
  }
  h6,
  .h6 {
    @include font-size($h6-font-size-desktop);
  }

  .p--sm {
    font-size: px-to-rem(18, $fs-desktop);
    @include em-lh(30, 18);
    font-weight: 300;
  }
}
h3,
.h3 {
  color: $primary-dark;
  letter-spacing: px-to-em(3, 30);
}

h5,
.h5 {
  color: $primary-dark;
  letter-spacing: px-to-em(1.25, 25);
}
